Palabras_Decano/index.pug
<!DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='main.css')
    
    title Inicio
  body
    nav.navbar.navbar-inverse.navbar-static-top.container
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#menu-mobile',aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 
            img(src='../img/logo-usmp.png')
        div#menu-mobile.navbar-collapse.collapse(aria-expanded='false')
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#') inicio
            li
              a(href='#') facultad
            li
              a(href='#') escuelas
            li
              a(href='#') posgrados
            li
              a(href='#') institutos
            li
              a(href='#') cursos de extensión
    div.submenu.container
      ul.submenu_list
        li.active
          a(href='#') Palabras del decano
        li 
          a(href='#') Autoridades
        li 
          a(href='#') Acreditaciones
        li 
          a(href='#') Convenios
        li 
          a(href='#') Organigrama
        li.last
          a(href='#') Directorio
    div.decano-palabras.container
      div.decano-palabras_imagen
        img(src='../img/INICIO-06.png')
      div.decano-palabras_description
        h2 Palabras del decano
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
        a(href='#') Volver
    div.autoridades.container
      h2.autoridades-title Autoridades
      div.autoridades-organos
        div.autoridades-organos_item
          a(href='#')
            img(src='../img/INICIO-07.png')
            h3 Órganos de Dirección
        div.autoridades-organos_item
          a(href='#')
            img(src='../img/INICIO-08.png')
            h3 Órganos de Línea
        div.autoridades-organos_item
          a(href='#')
            img(src='../img/INICIO-09.png')
            h3 Órganos Apoyo
    div.acreditaciones.container
      h2.acreditaciones-title Acreditaciones
      div.acreditaciones-carreras
        div.acreditaciones-carreras_item
          a(href='#')
            img(src='../img/INICIO-10.png')
            h3 Computación y Sistemas
        div.acreditaciones-carreras_item
          a(href='#')
            img(src='../img/INICIO-11.png')
            h3 Industrial
        div.acreditaciones-carreras_item
          a(href='#')
            img(src='../img/INICIO-12.png')
            h3 Electrónica
        div.acreditaciones-carreras_item
          a(href='#')
            img(src='../img/INICIO-13.png')
            h3 Arquitectura
        div.acreditaciones-carreras_item
          a(href='#')
            img(src='../img/INICIO-14.png')
            h3 Civil
  div.convenios.container
    h2.convenios-title Convenios
    div.convenios_imagen
      img(src='../img/INICIO-15.png')
    div.convenios_description
      p Fut I must explain to you how all this mistaken ide
      p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
      a(href='#') Volver
  div.organigrama.container
    h2.organigrama-title Organigrama
    a(target='_blank',href='../img/INICIO-16.jpg')
      img(src='../img/INICIO-16.jpg')
  div.container
    h2.directorio-title Directorio
  div.directorio.container
    div.directorio-item
      img(src='../img/INICIO-17.png')
      p.directorio-item_top Lun - vie: 8:00  - 21:30
      p.directorio-item_bot Atención administrativa
    div.directorio-item
      img(src='../img/INICIO-18.png')
      p.directorio-item_top Av. La Fontana 1250
      p.directorio-item_bot Urb. Sta. Patricia 2da Etapa <br> La Molina
    div.directorio-item
      img(src='../img/INICIO-19.png')
      p.directorio-item_top (511) 2086000
      p.directorio-item_bot Central FIA
    
    
            

  footer.footer.footer-direccion.container
    span.fotter-direccion_top AV. LA FONTANA 1250 URB. STA. PATRICIA / TELÉFONO: (511) 208-6000 anexo 1104 FAX: 208-6024
    span.fotter-direccion_bot COPYRIGHT © ÁREA DE DISEÑO GRÁFICO Y MULTIMEDIA - FIA, USMP. TODOS LOS DERECHOS RESERVADOS 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='slick.min.js')
    script(src='main.js')

Palabras_Decano/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="main.css"/>
    <title>Inicio</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top container">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#menu-mobile" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"> <img src="../img/logo-usmp.png"/></a>
        </div>
        <div class="navbar-collapse collapse" id="menu-mobile" aria-expanded="false">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">inicio</a></li>
            <li><a href="#">facultad</a></li>
            <li><a href="#">escuelas</a></li>
            <li><a href="#">posgrados</a></li>
            <li><a href="#">institutos</a></li>
            <li><a href="#">cursos de extensión</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="submenu container">
      <ul class="submenu_list">
        <li class="active"><a href="#">Palabras del decano</a></li>
        <li> <a href="#">Autoridades</a></li>
        <li> <a href="#">Acreditaciones</a></li>
        <li> <a href="#">Convenios</a></li>
        <li> <a href="#">Organigrama</a></li>
        <li class="last"><a href="#">Directorio</a></li>
      </ul>
    </div>
    <div class="decano-palabras container">
      <div class="decano-palabras_imagen"><img src="../img/INICIO-06.png"/></div>
      <div class="decano-palabras_description">
        <h2>Palabras del decano</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p><a href="#">Volver</a>
      </div>
    </div>
    <div class="autoridades container">
      <h2 class="autoridades-title">Autoridades</h2>
      <div class="autoridades-organos">
        <div class="autoridades-organos_item"><a href="#"><img src="../img/INICIO-07.png"/>
            <h3>Órganos de Dirección</h3></a></div>
        <div class="autoridades-organos_item"><a href="#"><img src="../img/INICIO-08.png"/>
            <h3>Órganos de Línea</h3></a></div>
        <div class="autoridades-organos_item"><a href="#"><img src="../img/INICIO-09.png"/>
            <h3>Órganos Apoyo</h3></a></div>
      </div>
    </div>
    <div class="acreditaciones container">
      <h2 class="acreditaciones-title">Acreditaciones</h2>
      <div class="acreditaciones-carreras">
        <div class="acreditaciones-carreras_item"><a href="#"><img src="../img/INICIO-10.png"/>
            <h3>Computación y Sistemas</h3></a></div>
        <div class="acreditaciones-carreras_item"><a href="#"><img src="../img/INICIO-11.png"/>
            <h3>Industrial</h3></a></div>
        <div class="acreditaciones-carreras_item"><a href="#"><img src="../img/INICIO-12.png"/>
            <h3>Electrónica</h3></a></div>
        <div class="acreditaciones-carreras_item"><a href="#"><img src="../img/INICIO-13.png"/>
            <h3>Arquitectura</h3></a></div>
        <div class="acreditaciones-carreras_item"><a href="#"><img src="../img/INICIO-14.png"/>
            <h3>Civil</h3></a></div>
      </div>
    </div>
  </body>
  <div class="convenios container">
    <h2 class="convenios-title">Convenios</h2>
    <div class="convenios_imagen"><img src="../img/INICIO-15.png"/></div>
    <div class="convenios_description">
      <p>Fut I must explain to you how all this mistaken ide</p>
      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure</p><a href="#">Volver</a>
    </div>
  </div>
  <div class="organigrama container">
    <h2 class="organigrama-title">Organigrama</h2><a target="_blank" href="../img/INICIO-16.jpg"><img src="../img/INICIO-16.jpg"/></a>
  </div>
  <div class="container">
    <h2 class="directorio-title">Directorio</h2>
  </div>
  <div class="directorio container">
    <div class="directorio-item"><img src="../img/INICIO-17.png"/>
      <p class="directorio-item_top">Lun - vie: 8:00  - 21:30</p>
      <p class="directorio-item_bot">Atención administrativa</p>
    </div>
    <div class="directorio-item"><img src="../img/INICIO-18.png"/>
      <p class="directorio-item_top">Av. La Fontana 1250</p>
      <p class="directorio-item_bot">Urb. Sta. Patricia 2da Etapa <br> La Molina</p>
    </div>
    <div class="directorio-item"><img src="../img/INICIO-19.png"/>
      <p class="directorio-item_top">(511) 2086000</p>
      <p class="directorio-item_bot">Central FIA</p>
    </div>
  </div>
  <footer class="footer footer-direccion container"><span class="fotter-direccion_top">AV. LA FONTANA 1250 URB. STA. PATRICIA / TELÉFONO: (511) 208-6000 anexo 1104 FAX: 208-6024</span><span class="fotter-direccion_bot">COPYRIGHT © ÁREA DE DISEÑO GRÁFICO Y MULTIMEDIA - FIA, USMP. TODOS LOS DERECHOS RESERVADOS </span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="slick.min.js"></script>
    <script src="main.js"></script>
  </footer>
</html>
